html,body{
}
.div1 {
  border: 2px outset #E6E6FA;
  border-radius: 50px 2px 50px 2px;
  background-color:#E6E6FA;
  height: 1300px;
  width: auto;
}
 .div2{
 	margin: 10px 10px 10px 10px;
  border-radius: 50px 2px 50px 2px;
 	height:auto;
  	width: auto;
 }
 .div3{
    margin: 7px 7px 7px 7px;
 	border: 2px outset #99c4de;
  border-radius: 45px 2px 45px 2px;
 	background-color: #99c4de;
 	height:115px;
  	width: auto;
  	float: top;
  }
   .div4{
    margin: 7px 7px 7px 7px;
 	height:0px;
  border-radius: 50px 2px 50px 2px;
  	width: auto;
  	float: top;
  }
  .div41,.div42{
 	text-align: center;
 	height:765px;
  	float: left;
    box-sizing: border-box;
  }
  .div41{
    margin-right: 3px;
    font-family:serif(red serif);
   border-radius: 30px 2px 30px 2px;
  	width: 15%;
  	background-color: #E6E6FA;
  }
  .div42{
     margin-left: 4px;
 	border: 2px outset #99c4de;
   border-radius: 30px 2px 30px 2px;
  	width: 84%;
    height: 1100px;
  	background-color: #E6E6FA;
  }
   .div5{
    font-family:Serif;
    font-size: 38px;
    border-radius: 45px 2px 45px 2px;
 	  border: 2px outset #E6E6FA;
  	text-align: center;
 	  background-color: #E6E6FA;
    
 	  height:0px;
  	width: auto;
  	float: top;
}
.div41 a {
  margin: 7px 7px 7px 7px;
  border:2px outset #8abbd9;
  background-color: #8abbd9;
  border-radius: 30px 0px 30px 0px;
  color: #1d435a;
  display: block;
  padding: 12px;
  text-decoration: none;
}
.div41 a:hover 
{
  background-color:#c5ddec ;
  border-top:5px solid #3a85b3;
}
.div41 a :active {
  color: #A07575;
}
.news{
   margin: 3px 3px 3px 3px;
  border:2px outset #8abbd9;
  background-color: #8abbd9;
  border-radius: 30px 0px 0px 0px;
  color: #1d435a;
  padding: 12px;
  height:285px;
  width: auto;
  overflow: auto;
}
.button {
  padding: 6px 6px;
  text-align: center;
  background-color: #8abbd9;
  color: #1d435a;
  border-radius: 15px;
  outline: none;
  cursor: pointer;
  border:2px outset #4090c1;
}
.button:hover 
{
  background-color: #c5ddec
}
.logo{
  float: left;
  padding-left: 50px;
  padding-right: 50px;
  float: left;
  width:auto;
}
.ecomname{
  float: left;
  padding-left: 50px;
  padding-right: 30px;
  color: #1d435a;
font-family:Serif;
font-size: 73px;
height: 110px;
width: auto;

  width: 100px;
  height: 100px;
 
  position: relative;
  animation: myfirst 5s 2;
  animation-direction: alternate;
}

@keyframes myfirst {
  0%   { left: 0px; top: 0px;}
  25%  { left: 200px; top: 0px;}
  100% { left: 0px; top: 0px;}
}
}
.imgfile{
  height:110px;
  width:97.5%;
  margin:15px 15px 15px 15px;
  border-radius: 10px;
 background-repeat: no-repeat;
  background-size: cover;
}
  #ReadMore{
    display: none;
  }
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #c4ddec; 
}
::-webkit-scrollbar-thumb {
  background:#306e94; 
}
::-webkit-scrollbar-thumb:hover {
  background: #1d435a; 
}
.fa {
    text-decoration: none;
    width: 15px;
    height: 15px;
    padding: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
  }
.search{
    text-decoration: none;
    text-align: center;
    margin: 70px 10px 10px 10px;
    position:relative;
    display: flex;
}
.searchTerm {
    width: 200px;
    border: 3px solid #4090c1;
    border-right: none;
    padding: 5px;
    height: 20px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #1d435a;
  }
  .searchTerm:focus{
    color: #1d435a;
  }
  .searchButton {
    width: 40px;
    height: 36px;
    border: 1px solid #4090c1;
    background: #4090c1;
    color: rgb(255, 255, 255);
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 14px;
    margin-right:10px;
  }
  .searchButton:hover{
    opacity: 0.7;
  }
  .fa-facebook {
    font-size: 17px;
    background: #3B5998;
    color: white;
  }
  .fa-twitter {
    font-size: 17px;
    background: #55ACEE;
    color: white;
  }
  .fa-youtube {
    font-size: 17px;
    background: #bb0000;
    color: white;
  }
  
  .fa-instagram {
    font-size: 17px;
    background: #125688;
    color: white;
  }
  .fa-facebook:hover,.fa-instagram:hover,.fa-youtube:hover,.fa-twitter:hover{
    background: #6599df; 
    height: 20px;;
    width:20px;
    font-size: 20px;
  }
  .div421{
  display: inline-table;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
   margin:20px;
   margin-top:40px;
  width:250px;
   height: 380px;
     background-color: #84b9da;
}
.zoom{
  overflow: hidden;
}
.item{
  height:250px;
  width:230px;
  margin-top: 10px;
  transition: 0.5s;
}
.item:hover{
  transform: scale(1.3);
}

  .h5{
  text-align:center;
  font-size: 13px;
  height: 55px;
  margin:7px 5px 5px 5px;
}
.h6{
  text-align:center;
  font-size: 13px;
  height:10px;
  margin:7px 5px 5px 5px;
}
.button1 {
  height: 40px;
  width: 90px;
  padding: 6px 6px;
  text-align: center;
  background-color: #8abbd9;
  color: #1d435a;
  border-radius:27px;
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 20px;
  outline: none;
  cursor: pointer;
  text-decoration: none;
}
.itemdiv{
  display: inline-table;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
   margin:20px;
   margin-top:40px;
      
     width:1100px;
   height: 1000px;
     background-color: #84b9da;
}
.iteminfo{
  margin:20px;
  margin-top:40px;
}
.tab{
  tab-size:5;
}
.button1:hover 
{
  height: 45px;
  width: 110px;
  color: #0c89d6;
  transition: 0.3s;
  background-color: #c5ddec
}
.overlay-form {
  position:absolute;
  top:50vh;
  left:0px;
  width:100vw;
  height:0vh;
  background:rgba(0,0,0,0.8);
  z-index:-1;
  opacity:0;
  padding:80px 100px;
  overflow:hidden;
  box-sizing:border-box;
  transition: top 500ms ease-in-out,
              opacity 500ms ease-in-out,
              height 0ms ease-in-out 500ms;  
}
.overlay-form .close-btn {
  position:absolute;
  top:20px;
  right:40px;
  color:#84b9da;
  font-size:40px;
  font-weight:600;
  cursor:pointer;
}
.overlay-form h1 {
  font-size:32px;
  color:#84b9da;
}
.overlay-form p {
  font-size:16px;
  color:#eee;
  margin:-15px 0px 30px;
}
.overlay-form .form-element {
  margin:30px 0px;
}
.overlay-form label {
  display:block;
  font-size:17px;
  color:#eee;
  margin-bottom:5px;
}
.overlay-form input {
  width:100%;
  padding:6px;
  font-size:17px;
  border:2px solid #eee;
  background:transparent;
  outline:none;
  border-radius:10px;
}
.overlay-form button,
.center button {
  margin-top:0px;
  margin-left:100px;
  width:100px;
  height:35px;
  font-size:15px;
  text-transform:uppercase;
  background:#84b9da;
  color:#222;
  border:none;
  outline:none;
  border-radius:10px;
}
.center {
  position:absolute;
  margin-left: 1200px;
  margin-top: 20px; 
}
.center button {
  width:150px;
  height:40px;
  font-weight:600;
  box-shadow:3px 3px 2px 1px rgba(0,0,0,0.1);
  cursor:pointer;
}
.bannerRibbon{
    z-index: 1;
    top: 170px;
    position: absolute;
    margin: -40px;

}
}
